In [1]:
import pandas as pd
df1 = pd.read_csv("../data/2022-11-05-dolarHoy.csv")
df1

                tipo  compra   venta
0       Banco Nación  156.50  164.50
1        Dólar Libre  285.00  289.00
2    Dólar Mayorista  158.08  158.28
3        Dólar Bolsa  290.24  290.81
4  Contado con liqui  302.60  304.77